@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

:root {
  --base-color: #{functions.color('midnight-blue')};
  --primary-color: #{functions.color('green-sea')};
  --secondary-color: #{functions.color('sun-flower')};
  --white: #{functions.color('white')};
  --clouds: #{functions.color('clouds')};
  --silver: #{functions.color('silver')};
}

a,
button,
input,
select {
  &:focus-visible {
    outline: 2px dotted currentColor !important;
    outline-offset: 2px;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}

h1 {
  font-family: variables.$heading-font-family;
  font-weight: 400;
  font-size: clamp(1.5rem, 1.0011rem + 1.3326vw, 3rem);
  margin: 0.5rem 0;
  color: var(--base-color);
}

header {
  @include mixins.flex-center;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1.25rem;
}

form {
  fieldset {
    display: flex;
    column-gap: variables.$base-font-size;
    font-size: 1.2rem;
    color: var(--white);
    border: none;
  }

  button {
    font-family: 'Passion One';
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    border-radius: 0.44rem;
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 2px var(--clouds);
    color: var(--white);
    transition: background-color 300ms ease-in-out;
    position: relative;
    &:hover {
      color: var(--white);
      background-color: var(--base-color);
    }
  }
}

figure {
  position: relative;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-family: variables.$heading-font-family;
  blockquote {
    font-style: italic;
    font-weight: 300;
    font-size: clamp(1.5rem, 1.3337rem + 0.4442vw, 2rem);
    margin-bottom: variables.$base-font-size;
  }
  figcaption {
    font-size: clamp(variables.$base-font-size, 0.8337rem + 0.4442vw, 1.5rem);
    font-style: italic;
  }
}

.category-label {
  position: absolute;
  left: 1.25rem;
  bottom: -1.5625rem;
  text-transform: capitalize;
  font-size: variables.$base-font-size;
  padding: 0.3125rem;
  color: currentColor;
  background-color: var(--secondary-color);
  width: auto;
  animation: fadeInAnimation ease 2500ms;
}

main {
  position: relative;
  margin: variables.$base-font-size 0 2rem;
  padding: 0 1.25rem;
  display: flex;
  justify-content: center;
}

.tooltips {
  position: relative; /* making the .tooltip span a container for the tooltip text */
  transition-duration: 300ms ease-in-out; /* little indicater to indicate it's hoverable */
  &:before {
    content: attr(data-text); /* here's the magic */
    position: absolute;
    font-size: variables.$base-font-size;
    font-family: Roboto;
    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* move to right */
    left: 100%;
    margin-left: 0.9375rem; /* and add a small left margin */

    /* basic styles */
    width: 160px;
    padding: 0.625rem;
    border-radius: 0.625rem;
    background-color: var(--base-color);
    color: var(--white);
    text-align: center;
    display: none; /* hide by default */
  }
  &::after {
    content: '';
    // content: open-quote;
    position: absolute;
    right: -0.9375rem;
    top: 50%;
    transform: translateY(-50%);
    // Triangle right to left
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid var(--base-color);
    display: none;
  }
  &:hover::before,
  &:hover::after {
    display: block;
    @include mixins.mobile-down {
      display: none;
    }
  }

  &.left:before {
    /* set new values */
    right: 100%;
    margin-right: 0.9375rem;
  }
}

.dropdown {
  color: var(--base-color);
  background-color: var(--white);
  border-radius: 0.4375rem;
  min-width: 12.5rem;
  height: 2.5rem;
  &-item {
    &:hover {
      color: var(--white);
      background-color: var(--primary-color);
    }
    &:active {
      color: var(--base-color);
      background-color: var(--silver);
    }
  }
  &-menu {
    width: 100%;
    max-height: 61.25rem;
    overflow: scroll;
  }
}

.dropdown-toggle {
  width: 100%;
  height: 2.5rem;
  padding-right: 1.25rem;
  display: flex;
  position: relative;
  top: 0.125rem;
  a {
    width: 100%;
    height: 1.25rem;
  }
  &::after {
    right: 1.25rem;
    position: absolute;
    top: 0.9375rem;
    border-top: 0.5em solid var(--base-color);
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
  }
}

.scroller {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--clouds);
}

.btn {
  transition: color 300ms ease-in-out;
  &:hover {
    color: var(--base-color);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.selected {
  color: var(--white);
  background-color: var(--primary-color);
}
