@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
/* https://github.com/Lazzzer00/Best-CSS-Reset-2024 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

img,
picture,
svg,
video,
canvas {
  vertical-align: middle;
}

img,
picture,
svg,
video,
canvas {
  font-style: italic;
}

img,
picture,
svg,
video,
canvas {
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
/* Spinner From: https://codepen.io/tbrownvisuals/pen/edGYvx */
.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.show {
  display: block;
}

.hide {
  visibility: hidden;
}

/* Transparent Overlay */
.spinner:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.6), rgba(0, 0, 0, 0.6));
  background: -webkit-radial-gradient(rgba(20, 20, 20, 0.6), rgba(0, 0, 0, 0.6));
}

/* :not(:required) hides these rules from IE9 and below */
.spinner:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.spinner:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(255, 255, 255, 0.6) 1.5em 0 0 0, rgba(255, 255, 255, 0.6) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.6) 0 1.5em 0 0, rgba(255, 255, 255, 0.6) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.6) -1.5em 0 0 0, rgba(255, 255, 255, 0.6) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.6) 0 -1.5em 0 0, rgba(255, 255, 255, 0.6) 1.1em -1.1em 0 0;
}

/* Animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --base-color: hsl(210, 29%, 24%);
  --primary-color: hsl(168, 76%, 36%);
  --secondary-color: hsl(48, 89%, 50%);
  --white: hsl(0, 0%, 100%);
  --clouds: hsl(192, 15%, 94%);
  --silver: hsl(204, 8%, 76%);
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible {
  outline: 2px dotted currentColor !important;
  outline-offset: 2px;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  font-family: "Roboto";
}

h1 {
  font-family: "Roboto slab", serif;
  font-weight: 400;
  font-size: clamp(1.5rem, 1.0011rem + 1.3326vw, 3rem);
  margin: 0.5rem 0;
  color: var(--base-color);
}

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1.25rem;
}

form fieldset {
  display: -ms-flexbox;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  font-size: 1.2rem;
  color: var(--white);
  border: none;
}
form button {
  font-family: "Passion One";
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
  border-radius: 0.44rem;
  background-color: var(--secondary-color);
  box-shadow: 1px 1px 2px var(--clouds);
  color: var(--white);
  transition: background-color 300ms ease-in-out;
  position: relative;
}
form button:hover {
  color: var(--white);
  background-color: var(--base-color);
}

figure {
  position: relative;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto slab", serif;
}
figure blockquote {
  font-style: italic;
  font-weight: 300;
  font-size: clamp(1.5rem, 1.3337rem + 0.4442vw, 2rem);
  margin-bottom: 1rem;
}
figure figcaption {
  font-size: clamp(1rem, 0.8337rem + 0.4442vw, 1.5rem);
  font-style: italic;
}

.category-label {
  position: absolute;
  left: 1.25rem;
  bottom: -1.5625rem;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.3125rem;
  color: currentColor;
  background-color: var(--secondary-color);
  width: auto;
  animation: fadeInAnimation ease 2500ms;
}

main {
  position: relative;
  margin: 1rem 0 2rem;
  padding: 0 1.25rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.tooltips {
  position: relative; /* making the .tooltip span a container for the tooltip text */
  transition-duration: 300ms ease-in-out; /* little indicater to indicate it's hoverable */
}
.tooltips:before {
  content: attr(data-text); /* here's the magic */
  position: absolute;
  font-size: 1rem;
  font-family: Roboto;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
  /* move to right */
  left: 100%;
  margin-left: 0.9375rem; /* and add a small left margin */
  /* basic styles */
  width: 160px;
  padding: 0.625rem;
  border-radius: 0.625rem;
  background-color: var(--base-color);
  color: var(--white);
  text-align: center;
  transition-duration: 300ms ease-in-out;
  display: none; /* hide by default */
}
.tooltips::after {
  content: "";
  position: absolute;
  right: -0.9375rem;
  top: 50%;
  transform: translateY(-50%);
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid var(--base-color);
  transition-duration: 300ms ease-in-out;
  display: none;
}
.tooltips:hover::before, .tooltips:hover::after {
  display: block;
}
@media (max-width: 599px) {
  .tooltips:hover::before, .tooltips:hover::after {
    display: none;
  }
}
.tooltips.left:before {
  /* set new values */
  right: 100%;
  margin-right: 0.9375rem;
}

.dropdown {
  color: var(--base-color);
  background-color: var(--white);
  border-radius: 0.4375rem;
  min-width: 12.5rem;
  height: 2.5rem;
}
.dropdown-item:hover {
  color: var(--white);
  background-color: var(--primary-color);
}
.dropdown-item:active {
  color: var(--base-color);
  background-color: var(--silver);
}
.dropdown-menu {
  width: 100%;
  max-height: 61.25rem;
  overflow: scroll;
}

.dropdown-toggle {
  width: 100%;
  height: 2.5rem;
  padding-right: 1.25rem;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0.125rem;
}
.dropdown-toggle a {
  width: 100%;
  height: 1.25rem;
}
.dropdown-toggle::after {
  right: 1.25rem;
  position: absolute;
  top: 0.9375rem;
  border-top: 0.5em solid var(--base-color);
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}

.scroller {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--clouds);
}

.btn {
  transition: color 300ms ease-in-out;
}
.btn:hover {
  color: var(--base-color);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.selected {
  color: var(--white);
  background-color: var(--primary-color);
}/*# sourceMappingURL=style.css.map */